@use "index" as g;

@use "base/base";
@use "base/typography";
@use "base/utilities";

@use "components/button";
@use "components/filter";
@use "components/ads";
@use "components/search";

@use "layout/header";
@use "pages/home";
