// COLORS

$color-primary: #669999;
$color-primary-light: #94b8b8;
$color-primary-dark: #476b6b;

$color-secondary: #f26419;

$color-tertiary: #003366;
$color-tertiary-dark: #002447;

$color-white: #e6e6e6;
$color-black: #000000;
