@use "../index" as g;

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 0.8rem;
    transition: all 0.3s;
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: 0.2rem;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 3.6rem 4.6rem rgba(g.$color-black, 0.2);
  }

  &:active,
  &:focus {
    outline: none;
  }

  &-orange {
    background-color: g.$color-secondary;
    color: g.$color-tertiary-dark;
  }

  &-white {
    background-color: g.$color-primary-lightest;
    color: g.$color-tertiary-dark;
  }
}
