@use "../index" as g;

.filter {
  width: 25%;

  &__form {
    gap: 2.4rem;
    background-image: linear-gradient(
      to right bottom,
      rgba(g.$color-tertiary-light, 0.8),
      rgba(g.$color-tertiary-dark, 0.8)
    );
    border-radius: 1rem;
    margin: 0 auto;
    padding: 4.8rem;
    box-shadow: 0px 1px 5px 0px rgba(g.$color-black, 0.74);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(g.$color-black, 0.74);
    -moz-box-shadow: 0px 1px 5px 0px rgba(g.$color-black, 0.74);
  }

  label {
    margin-bottom: 0.3rem;
    transition: all 0.3s;

    // THIS STYLE APPLIES WHEN INPUT IS IN FOCUS
    &:has(+ input:focus),
    &:has(+ select:focus) {
      transform: scale(1.1) translateX(5%);
    }
  }

  select,
  input[type="number"] {
    width: 100%;
    background-color: g.$color-tertiary-lightest;
    font-family: inherit;
    font-size: 1.6rem;
    color: g.$color-black;
    padding: 0.4rem;
    border-radius: 5px;
    border: none;
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 5rem 7rem rgba(g.$color-black, 0.2);
    }
  }

  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 1.8rem;
    height: 1.8rem;
    border: 0.2rem solid g.$color-tertiary-dark;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 0.6rem;
    transition: border 0.2s;

    &:checked {
      border-color: g.$color-tertiary-dark;
      background-color: g.$color-tertiary-dark;
    }

    &:checked::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0.8rem;
      height: 0.8rem;
      background: g.$color-white;
      border-radius: 50%;
    }
  }
}
