.search {
  border: none;
  color: $color-tertiary-dark;
  background-color: $color-primary;
  font-size: 3rem;
  padding: 1.2rem 1.6rem;
  border-radius: 10px;
  transition: all 0.3s;
  position: relative;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);

  &:focus {
    outline: 3px solid $color-white;
    outline-offset: 3px;
    box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}

.search-emoji {
  position: absolute;
  width: 7rem;
  height: 7rem;
  z-index: 100;
}
